.out {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  color: white;
  font-family: 'kaiti';
  font-size: 45px;
  margin: 0 auto;
}

.wz {
  /* margin-left: -280px; */
  width: 360px;
  height: 50px;
  position: absolute;
  margin-top: -160px;
  color: black;
}

.rounded-input .el-input__inner {
  border-radius: 30px;
  /* margin-bottom: 20px; */
  background-color: rgb(135, 164, 199);
  border: 2px solid #367e9d;
}

.rounded-input {
  margin-bottom: 5%;
}

.radio1 {
  margin-top: -300px;
  position: absolute;
  margin-bottom: 10px;
}

.h11 {
  margin-top: -500px;
  /* 使用楷体字体 */
  font-family: "楷体", "KaiTi", cursive;
  /* font: 16px Medium; */
  margin-left: px;
  color: #f9f9f9;

}

.tuu {
  margin-top: 40%;
  position: absolute;
}

.rounded-button {
  border-radius: 30px;
  /* 调整这里的值以改变按钮的圆角大小 */
  height: 40px;
  /* 调整这里的值以设置按钮的高度 */
  width: 360px;
  /* 调整这里的值以设置按钮的宽度 */
  line-height: 40px;
  background-color: #185671;
  border: 2px solid #367e9d;
  color: #01A7F0;
}

/* 使用占位符选择器 ::placeholder 修改输入框的占位符颜色为黑色 */
.el-input .el-input__inner::placeholder {
  color: #000;
}

.selectStyle {
  width: 360px;
  margin-bottom: 5%;
}

.selectStyle .el-input__inner {
  border-radius: 30px;
  /* margin-bottom: 20px; */
  background-color: rgb(135, 164, 199);
  border: 2px solid #367e9d;
}

/* 使用占位符选择器 ::placeholder 修改下拉框的占位符颜色为黑色 */
.selectStyle .el-input__inner::placeholder {
  color: #000;
}